body{
 background-color: #d3ffd9;
 min-height: 100vh; 
 margin:0;
}

.card{
    background-color: #2d8f3b;
    color: white;
}
header{
    background-color: #2d8f3b;
    padding: 0;
    margin: 0;
}

footer{
    position: relative;
    background-color: #2d8f3b;
    padding: 0;
    margin: 0;
}

.hoverable {
    transition: all .2s ease-in-out;
}

.hoverable:hover {
    transform: scale(1.025);
   
}

.clickable {
    transition: all .2s ease-in-out;
    cursor: pointer;
   
}

.clickable:hover {
    transform: scale(1.025);
   
}

.page-container {
    position: relative;
    min-height: 100vh;
  }
  
  .content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;            /* Footer height */
  }