.body{
 background-color: #d3ffd9;
}
.card{
    background-color: #2d8f3b;
    color: white;
}
header{
    background-color: #2d8f3b;
}

footer{
    background-color: #2d8f3b;
}

.hoverable {
    transition: all .2s ease-in-out;
}

.hoverable:hover {
    transform: scale(1.025);
   
}

.clickable {
    transition: all .2s ease-in-out;
    cursor: pointer;
   
}

.clickable:hover {
    transform: scale(1.025);
   
}


